/* This is the H1 for the homepage */
H1 {
  text-align: center;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
  color: #11913c;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

/* .love {
  text-align: center;
  margin: 0;
  font-size: 34;
  line-height: 48px;
  font-weight: lighter;
  color: #11913c;
  box-shadow: 10px 5px 10px 5px #7c181c;
} */

/* This is concerning the paragraphs on the homepage */
.food {
  vertical-align: 25px;
  font-size: 18px;
  text-align: center;
  color: #f2b818;
  padding: 20px;
  line-height: 1.5;
}

/* This is for the image on the homepage */
.harvest {
  max-width: 100%;
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  border-color: #7c181c;
  background: linear-gradient();
}

/* This is for the salad icon on the homepage */
.Salads {
  color: #11913c;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 10px 5px 5px #7c181c;
}

/* This is for the button on the homepage */
/* .varietybutton:hover {
  background-color: #11913c;
  color: #fff;
  border: 1px solid #fff;
  transition: right 2s ease-in-out 0.5s;
  cursor: pointer;
} */

/* This is for the button on homepage
.varietybutton {
  border-radius: 30px;
  text-align: center;
  display: block;
  margin: 20px 50px;
  color: #7c181c;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  cursor: 🥗;
  border: 1px solid;
  width: 100px;
  position: relative;
  top: 100%;
  bottom: 100%;
  left: 45%;
  right: 45%;
} */

/* This property references the images in the salad page */
.healthy {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  width: 50%;
  content: center;
}

/* This is concerning the paragraphs on the salad page   */
.tossed {
  vertical-align: 25px;
  font-size: 18px;
  color: #f2b818;
  margin-left: 15px;
}

.delicious {
  display: grid;
  margin-top: 25px;
  grid-template-rows: auto;
  text-indent: 60px;
  font-size: 20px;
  grid-area: none;
}

/* This is for the nav bar on all pages */
.nav {
  text-align: center;
  margin: 0;
  font-size: 34;
  font-style: bold;
  line-height: 48px;
  font-weight: lighter;
  box-shadow: 10px 5px 10px 5px #7c181c;
}
